name: workflow
on: [pull_request]
jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go 1.14
        uses: actions/setup-go@v2
        with:
          go-version: '1.14'

      - name: Check out code
        uses: actions/checkout@v2

      - name: Lint code
        uses: golangci/golangci-lint-action@e4e910b0cea5459cf5f459ac51f61ebb51934e36
        with:
          version: v1.36.0
          skip-go-installation: true

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test -v ./...

      - name: Build binaries
        run: go build ./...
